<!DOCTYPE html>
<html>
<head>
<title>Неофициальный сайт 604 цСпН ВНГ РФ</title>
<meta http-equiv="Content Type" content="text/html charset=utf" />
<meta name="description" content="Описание страницы" />
<meta name="keywords" content="Ключевые слова" />
<link type="text/css" rel="stylesheet"  href="CSS/styles.css" >
</head>
    
<header>
    <section>
    <img class ="logoimg" alt="Логотип цСпН" width="100" height="100" src="Images/logo.png" >
    <table class ="head" width="1228px" height="70px">
        <tr>
            <td class="mainmenu"><a href="index.html" class="headmenu">Главная страница</a></td>
            <td class="mainmenu"><a href="Pages/news.html" class="headmenu">Новости</a></td>
            <td class="mainmenu"><a href="Pages/contract.html" class="headmenu">Служба по контракту</a></td>
            <td class="mainmenu"><a href="Pages/beret.html" class="headmenu">Сдача на краповый берет</a></td>
            <td class="mainmenu"><a href="Pages/history.html" class="headmenu">История воинской части</a></td>
            <td class="mainmenu"><a href="Pages/heroes.html" class="headmenu">Книга памяти</a></td>
            <td class="mainmenu"><a href="Pages/forum.html" class="headmenu">Форум</a></td>
        </tr>
        </table>
</section>
</header>
<main>


</main>

<footer>


</footer>

</body>
</html>